html,
body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  background-color: #f6f7f8;
}

* {
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.todo_header {
  display: flex;
  padding-top: 13px;
  padding-bottom: 13px;
  align-items: center;
  box-shadow: 3px 3px 6px gray;
  background-color: #fff;
}

.todo_title_text {
  padding: 0 20px;
  font-size: 26px;
}

.todo_info {
  margin-left: auto;
  display: flex;
  padding: 0 30px;
}

.todo_info_item {
  display: flex;
  padding-left: 30px;
}

.todo_body {
  margin: 2rem 5rem;
  padding: 0 1rem;
  background-color: #fff
}

.todo_task_new {
  line-height: 15px;
  min-height: 40px;
  padding: 0 8px;
  width: 100%;
  border-radius: 10px;
}

.todo_form {
  padding: 40px;
}

.todo_list-item {
  align-items: center;
  display: flex;
  position: relative;
  background-color: #f6f7f8;
  border-radius: 10px;
  margin: 15px 0;
}

.todo_list-text {
  flex: 1;
  line-height: 24px;
  padding: 8px 16px;
}

.todo_list-remove {
  height: 32px;
  width: 32px;
  cursor: pointer;
  padding: 5px;
  margin-right: 10px;
}


.todo_list-item--done {
  text-decoration: line-through;
  background-color: #7ec598;
}
